<dialog id="createPlan">

    <h3>Criar Plano</h3>

    <form method="POST" action="/plans/create">

        <label>Nome</label>
        <input type="text" name="name" required>

        <label>Máx. Roteadores</label>
        <input type="number" name="max_routers" min="1" required>

        <label>Máx. Usuários do Sistema</label>
        <input type="number" name="max_users" min="1" required>

        <label>Máx. Usuários Hotspot</label>
        <input type="number" name="max_hotspot_users" min="1" required>

    </form>
    <div class="modal-footer">
        <button type="button" class="button secondary"
                    onclick="document.getElementById('createPlan').close()">
            Cancelar
        </button>
        <button type="submit" class="button primary">Cadastrar</button>
    </div>
   

</dialog>