{% extends "base.html" %}

{% block title %}
Edit User
{% endblock %}

{% block content %}

<h2>Edit User</h2>

<form method="POST">

<label>Email</label>
<input type="email" name="email" value="{{ user.email }}">

<label>Função</label>
<input type="text" name="role" value="{{ user.role }}">

<label>Empresa</label>

<select name="tenant_id">

<option value="">Sem empresa</option>

{% for tenant in tenants %}

<option value="{{ tenant.id }}"
{% if user.tenant_id == tenant.id %}selected{% endif %}>
{{ tenant.name }}
</option>

{% endfor %}

</select>

<button type="submit">Save</button>

</form>

<a href="/users">
<button>Back</button>
</a>

{% endblock %}