{% block doctype %}
<!DOCTYPE html>
{% endblock %}

<html>

<head>
    <title>{% block title %}SOLVEON TECHNOLOGY{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/logo_solveon_2.png') }}">
    {% block extra_css %}{% endblock %}
</head>

<body>
<div class="page-wrapper">
    <header>
        <div class="logo-container">
            <span class="logo-main">SOLVEON</span>
            <span class="logo-sub">TECHNOLOGY</span>
        </div>

        <nav>
            {% if current_user.is_authenticated %}
            {% set role = current_user.role.name %}

            {# Menus visíveis para todos usuários logados #}

            {% if request.path != '/dashboard' %}
                    <a href="/dashboard">Dashboard</a>
            {% endif %}

            {% if request.path != '/users' %}
                    <a href="/users">Usuários</a>
            {% endif %}

            {% if request.path != '/plans' %}
                <a href="/plans">Planos</a>
            {% endif %}

            {% if request.path != '/routers' %}
                <a href="/routers">Roteadores</a>
            {% endif %}

             {% if request.path != '/ip-pools' %}
                    <a href="/ip-pools">IP Pools</a>
            {% endif %}

            {% if request.path != '/hotspot-users' %}
                <a href="/hotspot-users">Hotspot Users</a>
            {% endif %}

            {% if request.path != '/hotspot-templates' %}
                <a href="/hotspot-templates">Templates</a>
            {% endif %}

            {% if request.path != '/bypass-devices' %}
                <a href="/bypass-devices">Bypass Devices</a>
            {% endif %}

            {% if role in ['ADMIN', 'MANAGER'] %}
                {# Menus restritos para ADMIN/MANAGER #}

                {% if request.path != '/tenants' %}
                    <a href="/tenants">Empresas</a>
                {% endif %}

            {% endif %}

            <a href="{{ url_for('auth.logout') }}">Logout ({{ current_user.email }})</a>
        {% else %}
            {% if request.path != '/login' %}
                <a href="{{ url_for('auth.login') }}">Login</a>
            {% endif %}
        {% endif %}
        </nav>
    </header>

    <hr>

    <main class="main-content">
        {% block content %}{% endblock %}
    </main>

    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
    {% block extra_js %}{% endblock %}

    <footer>
        &copy; Solveon {{ current_year }}
    </footer>
</div>
</body>
</html>